<section id="home">

</section>
<article id="main">
    <section class="wrapper special container">
        <h2>{{ 'edifici.title' | translate }}</h2>
        <div class="text-justify">
            <p>
                {{ 'edifici.text1' | translate }}
            </p>
            <br>
            <p>
                {{ 'edifici.text2' | translate }}
            </p>
            <br>
            <p>
                {{ 'edifici.text3' | translate }}
            </p>
            <br>
            <p>
                {{ 'edifici.text4' | translate }}
            </p>
            <br>
            <p>
                {{ 'edifici.text5' | translate }}
            </p>
            <br>
            <p>
                {{ 'edifici.text6' | translate }}
            </p>
            <br>
            <p>
                {{ 'edifici.text7' | translate }}
            </p>
        </div>
    </section>
    <section class="divider">

    </section>
</article>