<header id="header">
    <h1><a href="" routerLink="/">{{ 'navbar.title' | translate }}</a></h1>

    <nav id="nav">
        <ul>
            <li class="special">
                <a href="#menu" class="menuToggle"><span>{{ 'navbar.menu' | translate }}</span></a>
                <div id="menu">
                    <div class="lang">
                        <ul>
                            <li (click)="changeLanguage('cat')"> {{ 'navbar.items.langs.cat' | translate }} |</li>
                            <li (click)="changeLanguage('es')"> {{ 'navbar.items.langs.es' | translate }} |</li>
                            <li (click)="changeLanguage('en')"> {{ 'navbar.items.langs.en' | translate }} |</li>
                            <li (click)="changeLanguage('fr')"> {{ 'navbar.items.langs.fr' | translate }} |</li>
                        </ul>
                    </div>
                    <ul>
                        <li><a href="" routerLink="/">{{ 'navbar.items.options.home' | translate }}</a></li>
                        <li><a href="" routerLink="/tickets">{{ 'navbar.items.options.tickets' | translate }}</a></li>
                        <li><a href="" routerLink="/dolors">{{ 'navbar.items.options.dolors' | translate }}</a></li>
                        <li><a href="" routerLink="/edifici">{{ 'navbar.items.options.edifici' | translate }}</a></li>
                        <li><a href="" routerLink="/contacte">{{ 'navbar.items.options.contacte' | translate }}</a></li>
                        <li><a href="http://www.santamariademataro.cat/">{{ 'navbar.items.options.parroquia' | translate }}</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </nav>
</header>