<section id="home">

</section>
<article id="main">
    <section class="wrapper special container">
        <h2>{{ 'tickets.title' | translate }}</h2>
        <div class="row">
            <div class="col-md-6">
                <div class="card mb-3">
                    <img class="card-img-top" src="../../../assets/images/act1.png" alt="Card image cap">
                    <div class="card-body text-justify">
                        <h5 class="card-title text-left">{{ 'tickets.act1.title' | translate }}</h5>
                        <p class="card-text">{{ 'tickets.act1.duration' | translate }}</p>
                        <p class="card-text">{{ 'tickets.act1.desc1' | translate }}</p>
                        <p class="card-text"><strong>{{ 'tickets.warn' | translate }}</strong></p>
                        <p class="card-text"><strong>{{ 'tickets.act1.warn1' | translate }}</strong></p>
                        <p class="card-text"><strong>{{ 'tickets.act1.warn2' | translate }}</strong></p>
                        <p class="card-text"><small class="text-muted">{{ 'tickets.reserva' | translate }}</small></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-3">
                    <img class="card-img-top" src="../../../assets/images/act2.png" alt="Card image cap">
                    <div class="card-body text-justify">
                        <h5 class="card-title text-left">{{ 'tickets.act1.title' | translate }}</h5>
                        <p class="card-text">{{ 'tickets.act2.horari' | translate }}</p>
                        <p class="card-text">{{ 'tickets.act2.duration' | translate }}</p>
                        <p class="card-text">{{ 'tickets.act2.desc1' | translate }}</p>
                        <p class="card-text">{{ 'tickets.act2.desc2' | translate }}</p>
                        <p class="card-text"><strong>{{ 'tickets.warn' | translate }}</strong></p>
                        <p class="card-text"><strong>{{ 'tickets.act2.warn1' | translate }}</strong></p>
                        <p class="card-text"><strong>{{ 'tickets.act2.warn2' | translate }}</strong></p>
                        <p class="card-text"><small class="text-muted">{{ 'tickets.reserva' | translate }}</small></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-3">
                    <img class="card-img-top" src="../../../assets/images/act4.png" alt="Card image cap">
                    <div class="card-body text-justify">
                        <h5 class="card-title text-left">{{ 'tickets.act1.title' | translate }}</h5>
                        <p class="card-text">{{ 'tickets.act4.horari' | translate }}</p>
                        <p class="card-text">{{ 'tickets.act4.duration' | translate }}</p>
                        <p class="card-text">{{ 'tickets.act4.desc1' | translate }}</p>
                        <p class="card-text">{{ 'tickets.act.desc2' | translate }}</p>
                        <p class="card-text"><strong>{{ 'tickets.warn' | translate }}</strong></p>
                        <p class="card-text"><strong>{{ 'tickets.act4.warn1' | translate }}</strong></p>
                        <p class="card-text"><strong>{{ 'tickets.act4.warn2' | translate }}</strong></p>
                        <p class="card-text"><small class="text-muted">{{ 'tickets.reserva' | translate }}</small></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-3">
                    <img class="card-img-top" src="../../../assets/images/act3.png" alt="Card image cap">
                    <div class="card-body text-justify">
                        <h5 class="card-title text-left">{{ 'tickets.act1.title' | translate }}</h5>
                        <p class="card-text">{{ 'tickets.act3.duration' | translate }}</p>
                        <p class="card-text">{{ 'tickets.act3.desc1' | translate }}</p>
                        <p class="card-text"><strong>{{ 'tickets.warn' | translate }}</strong></p>
                        <p class="card-text"><strong>{{ 'tickets.act3.warn1' | translate }}</strong></p>
                        <p class="card-text"><strong>{{ 'tickets.act3.warn2' | translate }}</strong></p>
                        <p class="card-text"><small class="text-muted">{{ 'tickets.reserva' | translate }}</small></p>
                    </div>
                </div>
            </div>

        </div>
    </section>
</article>