<section id="banner">
    <a href="#main" class="more scrolly">{{ 'home.find' | translate }}</a>
</section>
<article id="main">
    <section class="wrapper special container">
        <div class="row" align="center">
            <div class="col-md-4 ">
                <div class="round" id="round1" data-toggle="collapse" data-target="#act1">
                    <h3>{{ 'home.acts.act1.title' | translate }}</h3>
                </div>
                <div id="act1" class="act-text collapse">
                    {{ 'home.acts.act1.text1' | translate }}
                    <br><br> {{ 'home.acts.act1.text2' | translate }}
                    <br><br>
                    <a class="btn-color" routerLink="/edifici">{{ 'home.acts.button' | translate }}</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="round" id="round2" data-toggle="collapse" data-target="#act2">
                    <h3>{{ 'home.acts.act2.title' | translate }}</h3>
                </div>
                <div id="act2" class="act-text collapse">
                    {{ 'home.acts.act2.text1' | translate }}
                    <br><br> {{ 'home.acts.act2.text2' | translate }}
                    <br><br>
                    <button class="btn-color" routerLink="/edifici">{{ 'home.acts.button' | translate }}</button>
                </div>
            </div>
            <div class="col-md-4">
                <div class="round" id="round3" data-toggle="collapse" data-target="#act3">
                    <h3>{{ 'home.acts.act3.title' | translate }}</h3>
                </div>
                <div id="act3" class="act-text collapse">
                    {{ 'home.acts.act3.text1' | translate }}
                    <br><br> {{ 'home.acts.act3.text2' | translate }}
                    <br><br>
                    <button class="btn-color" routerLink="/edifici">{{ 'home.acts.button' | translate }}</button>
                </div>
            </div>
        </div>
    </section>
    <hr>
    <section class="wrapper content-text text-center">
        <div class="container">
            <p>{{ 'home.section1.text1' | translate }}</p>
            <br>
            <p>{{ 'home.section1.text2' | translate }}</p>
        </div>
    </section>
    <section class="divider-div">
    </section>
    <section class="wrapper content-text text-center">
        <div class="container">
            <p>
                {{ 'home.section2.text1' | translate }}
            </p>
            <br>
            <p>
                {{ 'home.section2.text2' | translate }}
            </p>
            <button class="btn-color" routerLink="/tickets">
              {{ 'home.section2.button' | translate }}
            </button>
        </div>
    </section>
    <section class="video-div" align="center">
        <img class="img-fluid play" data-toggle="modal" data-target="#exampleModal" src="../../../assets/images/play.png" alt="play">
    </section>
</article>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <iframe width="560" height="330" src="https://www.youtube.com/embed/5b-P08qN5m4" frameborder="0" allowfullscreen=""></iframe>
            </div>
        </div>
    </div>
</div>