<section id="home">

</section>
<article id="main">
    <section class="wrapper special container">
        <h2>{{ 'dolors.title' | translate }}</h2>
        <div class="text-justify">
            <p>
                {{ 'dolors.section1.text1' | translate }}
            </p>
            <br>
            <p>
                {{ 'dolors.section1.text2' | translate }}
            </p>
            <br>
            <p>
                {{ 'dolors.section1.text3' | translate }}
            </p>
        </div>
    </section>
    <section class="divider">

    </section>
    <section class="wrapper special container text-justify">
        <p>
            {{ 'dolors.section2.text1' | translate }}
        </p>
        <br>
        <p>
            {{ 'dolors.section2.text2' | translate }}
        </p>
        <br>
        <p>
            {{ 'dolors.section2.text3' | translate }}
        </p>
    </section>
    <section class=" wrapper special divider-button">
        <button class="btn-dolors" routerLink="/edifici">{{ 'dolors.section2.button' | translate }}</button>
    </section>
</article>